<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XPCService</key>
	<dict>
		<key>RunLoopType</key>
		<string>_NSApplicationMain</string>
		<key>ServiceType</key>
		<string>Application</string>
		<key>_MultipleInstances</key>
		<true/>
		<key>_ProcessType</key>
		<string>App</string>
	</dict>
</dict>
</plist>
