// ENABLE_SPARKLE = Enables building with Sparkle for automatic updates
// ENABLE_SPICE_CLIPBOARD_SYNC = Enables the native support for clipboard sync introduced in macOS 13
OTHER_SWIFT_FLAGS = -D ENABLE_SPARKLE

VB_SPARKLE_PUBLIC_ED_KEY=dj8ljUPnwoLj/dLs6HyJg5Ayw+t8zWtgjQUfQsH56ww=
VB_SPARKLE_CHECK_INTERVAL=86400
