// This file contains settings applied to all targets

#include "Paths.xcconfig"
#include "Versions.xcconfig"
#include "Signing.xcconfig"
#include "Features.xcconfig"
#include "InfoPlist.xcconfig"

ARCHS=arm64

ASSETCATALOG_COMPILER_GENERATE_ASSET_SYMBOLS=NO
ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS=NO

// VirtualBuddy requires macOS Ventura and later
// VirtualBuddyGuest and components that it uses support macOS Monterey and later
MACOSX_DEPLOYMENT_TARGET = 13.0
