#include "Signing.xcconfig"

// This team ID is used for code signing requirements
VB_DEVELOPMENT_TEAM = 8C7439RJLG

// #defines a CURRENT_PROJECT_VERSION_FOR_CODE_REQUIREMENTS macro that can be used in code signing verification code
CURRENT_PROJECT_VERSION_FOR_CODE_REQUIREMENTS_STR=@"$(CURRENT_PROJECT_VERSION)"

// #defines a TEAM_ID_FOR_CODE_REQUIREMENTS macro that can be used in code signing verification code
TEAM_ID_FOR_CODE_REQUIREMENTS_STR=@"$(VB_DEVELOPMENT_TEAM)"

VIRTUALBUDDY_BUNDLE_ID_STR=@"$(VIRTUALBUDDY_BUNDLE_ID)"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) CURRENT_PROJECT_VERSION_FOR_CODE_REQUIREMENTS='$(CURRENT_PROJECT_VERSION_FOR_CODE_REQUIREMENTS_STR)' TEAM_ID_FOR_CODE_REQUIREMENTS='$(TEAM_ID_FOR_CODE_REQUIREMENTS_STR)' VIRTUALBUDDY_BUNDLE_ID='$(VIRTUALBUDDY_BUNDLE_ID_STR)'
