MARKETING_VERSION = 2.2
CURRENT_PROJECT_VERSION = 348
VERSIONING_SYSTEM = apple-generic
MACOSX_DEPLOYMENT_TARGET = 14.0

/// When building in Xcode Cloud, this file is created to override `CURRENT_PROJECT_VERSION` using the CI build version.
#include? "CIProjectVersion.xcconfig"

DYLIB_CURRENT_VERSION = $(CURRENT_PROJECT_VERSION)
